html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 125px;
  padding-left: 125px;
}

/********** HEADER STYLES START **********/
.site-header {
  padding: 30px 0;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__end {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.site-header__nav-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.site-header__nav-item {
  margin-left: 30px;
}

.site-header__nav-link {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.site-header__help-list{
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.site-header__help-item{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
 }

 .site-header__help-link {
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 6px;
  text-decoration: none;
 }

/********** HEADER STYLES END **********/